@model WebApplication1.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <div>Image</div>
    <div>
        <form method="POST">
            @Html.AntiForgeryToken()
            <input type="hidden" id="empid" value="@Model">
            <table id="emptbl">
            
            </table>
        </form>
    </div>

    <script>

        $(document).ready(function () {
            GetData();
        });

        function GetData() {
            $.ajax({
                url: 'EmployeeDetail',
                type: 'get',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: "{}",
                success: function (_data) {
                    //_data = JSON.parse(_data);
                    //$("#emptbl").find("tr:gt(0)").remove();
                    //$("#tbl").append('<tr><th>Name</th><th>Action</th></tr>');
                    for (var i = 0; i < _data.length; i++) {
                        //$("#emptbl").append('<tr><td>' + _data[i].name + '</td><td><a href="/EmployeeWithJQ/edit/' + _data[i].id + '"> Edit</a> <a href="EmployeeWithJQ/delete/' + _data[i].id + '"> Delete</a></td>  </tr>');

                        $("#emptbl").append('<tr><td>ID </td><td> : </td><td>' + _data[i].id + '</td></tr>'
                            + '<tr><td>Name </td><td> : </td><td><input type="text" name="name" value="' + _data[i].name + '"></td></tr>'
                            + '<tr><td>Date of Birth </td><td> : </td><td><input type="date" name="dob" value="' + _data[i].dob + '"></td></tr>'
                            + '<tr><td>NID </td><td> : </td><td><input type="text" name="nid" value="' + _data[i].nid + '"></td></tr>'
                            + '<tr><td>Blood Group </td><td> : </td><td><input type="text" name="bgroup" value="' + _data[i].bgroup + '"></td></tr>'
                            + '<tr><td>Email </td><td> : </td><td><input type="text" name="email" value="' + _data[i].bgroup + '"></td></tr>'
                            + '<tr><td>Phone Number </td><td> : </td><td><input type="text" name="phone" value="' + _data[i].phone + '"></td></tr>'
                            + '<tr><td>Address </td><td> : </td><td><input type="text" name="address" value="' + _data[i].address + '"></td></tr>'
                            + '<tr><td></td><td><input type="submit" value="UPDATE"></td><td></td></tr>');
                    }

                },
                error: function (res) {
                    console.log(res);
                }

            });



        };
    </script>
</body>
</html>
